$secondary-300: #F7E4BB;
$additional-1-700: #798F24;
$additional-2-500: #4A9C5B;
$primary-200: #74D7D3;
$primary-400: #32AFA9;
$additional-1-600: #9CB82E;
$secondary-600: #E6AF33;
$secondary-500: #EBC060;
$additional-2-300: #86C693;
$black: #000000;
$white: #FFFFFF;
$white: #FFFFFF;
$white: #FFFFFF;

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', 'Arial', sans-serif, 'Open Sans - Semi Bold';
  font-size: 14px;
  line-height: 1.2;
  color: $black;
}

h1 {
  text-transform: uppercase;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
}

.content {
  display: flex;
  padding: 60px 60px;
  transform: translateX(-3%);
  @media screen and (max-width: 992px) {
    flex-direction: column;
    align-items: center;
  }
}
