*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', 'Arial', sans-serif,'Open Sans - Semi Bold';
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
}

h1 {
  text-transform: uppercase;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
}

//sidebar

.sidebar {
  order:-1;
  width: 200px;
  background: #F7E4BB;
  padding: 60px 10px;
  transition-duration: 500ms;
  transform: translateX(-50%);

  &:hover {
    transform: translateX(0%);

    .nav {
      .nav-menu-element {
        div {
          transform: translateX(0%);
        }
      }
    }

  }
  .nav {
    display: flex;
    flex-direction: column;
    .nav-menu-element {
      margin-bottom: 70px;
      display: flex;
      justify-content: space-between;
      @media screen and (min-width: 320px) {
        font-size: 32px;
      }
     div{
       font-size: 16px;
       color: black;
       width: 50px;
       word-wrap: break-word;
       margin: auto 0;
       transition-duration: 500ms;
       transform: translateX(-200%);
     }
      img {
        padding: 30px 30px 30px 30px;
        border-radius: 30px 0 0 30px;
        margin-left: 57px;
        transition: background 9999999s;
        &:active {
          background: white;
          transition: background 0s;
        }
      }
    }
  }
}

//main

.content {
  display: flex;
  padding: 60px 60px;
  transform: translateX(-3%);
  @media screen and (max-width: 992px) {
    flex-direction: column;
    align-items: center;
  }
}

.food-page {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 0 30px;
  overflow: hidden;
  @media screen and (max-width: 992px) {
    margin-bottom: 50px;
  }
  .add-recipes{
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    width: 100%;
    h1 {
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      color: #EBC060;
    }
    @media (min-width: 320px){
      h1 {
        font-size: 50px;
      }
    }
    .add-recipes-text {
      font-size: 24px;
      line-height: 29px;
      color: #E6AF33;
      position: relative;
    }
    .add-recipes-text::before{
      content: '+';
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 26px;
      font-weight: bold;
      color: white;
      left: -30%;
      position: absolute;
      border-radius: 30px;
      width:30px;
      height: 30px;
      background: #E6AF33;
    }
  }
}

.search-recipes {
  margin-top: 30px;
  margin-bottom: 22px;
  width: 100%;
  h1 {
    font-size: 36px;
    margin-bottom: 40px;
    line-height: 44px;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 22px;
  }
  @media (min-width: 320px){
    h1 {
      font-size: 50px;
    }
  }
}

.recipes-cards {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 1580px) {
    justify-content: space-between;
  }
  //@media screen and (max-width: 320px) {
  //  flex-direction: column;
  //}


  .recipe-card {
    margin:22px 60px 22px 0;
    position: relative;
    @media screen and (max-width: 1580px) {
      margin:22px 0 22px 0;
    }
    .recipe-card-info {
      width: 60%;
      position: absolute;
      top: 60%;
      left: 5%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .recipe-card-cat {
        width: 72px;
        padding: 15px;
        background: #E6AF33;
        border-radius: 30px;
        margin-bottom: 10px;
      }
      .recipe-card-cat:nth-child(2) {
        width: 100px;
      }
      .recipe-card-name {
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
      }
    }
  }
}

//320 568 668 992 1440


.explore-recipes{
  display: flex;
  flex-direction: column;
  flex:1;
  width: 100%;
  h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #9CB82E;
  }
  @media (min-width: 320px){
    h1 {
      font-size: 50px;
    }
  }
  .recipes-cats {
    display: flex;
    margin: 30px 0;
    .cat-item {
      width: 72px;
      padding: 15px;
      background: #E6AF33;
      border-radius: 30px;
      margin:0 12px 10px 0;
    }
    div:nth-child(1) {
      width: 100px;
      background: #32AFA9;
    }
    div:nth-child(2) {
      width: 65px;
      background: #EBC060;
    }
    div:nth-child(3) {
      width: 91px;
      background: #86C693;
    }
    div:nth-child(4) {
      width: 91px;
      background: #74D7D3;
    }
    div:nth-child(5) {
      width: 69px;
      background: #4A9C5B;
    }
    div:nth-child(6) {
      width: 72px;
      background: #E6AF33;
    }
    div:nth-child(7) {
      width: 63px;
      background: #798F24;
    }
    div:nth-child(8) {
      width: 79px;
      background: #74D7D3;
    }
  }
}

.receipt-compound-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 423px;
  max-height: 780px;
  background: url(../assets/images/b1.png) no-repeat top;
  background-color: #F7E4BB;
  border-radius: 30px;
  display: flex;
  flex: 1;
  align-items: end;
  @media screen and (min-width: 992px) {
    margin-bottom: 50px;
  }
  .receipt-bookmark-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    position: absolute;
    top: 0;
    left: 75%;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: rgba(240, 207, 133, 1);
  }
  .receipt-compound {
    padding: 30px 30px;
    margin: 30px;
    border-radius: 30px;
    background-color: white;
    h2 {
      font-size: 24px;
      line-height: 29.26px;
      margin-bottom: 15px;
    }
    .receipt-description {
      font-size: 18px;
      color: rgba(0, 0, 0, 0.44);
      line-height: 21.94px;
    }
    .receipt-ingredients {
      margin-top: 30px;
      h2{
        font-size: 18px;
        line-height: 21.94px;
        color: rgba(0, 0, 0, 1);
      }
      .ingredient-item {
        margin: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ingredient-item-name {
          margin-right: 40%;
        }
      }
      .ingredient-button {
        width: 300px;
        background: #32AFA9;
        border: 0;
        border-radius: 30px;
        padding: 15px 0;
        text-align: center;
        color: white;
        font-size: 24px;
        text-transform: uppercase;
      }
    }
  }
  @media screen and (min-width: 992px) {
    flex: 1;
    height: 780px;
  }
}








