$secondary-300: #F7E4BB;
$additional-1-700: #798F24;
$additional-2-500: #4A9C5B;
$primary-200: #74D7D3;
$primary-400: #32AFA9;
$additional-1-600: #9CB82E;
$secondary-600: #E6AF33;
$secondary-500: #EBC060;
$additional-2-300: #86C693;
$black: #000000;
$white: #FFFFFF;
