#food-page {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 0 30px;
  overflow: hidden;
  @media screen and (max-width: 992px) {
    margin-bottom: 50px;
  }
}

.search-recipes {
  margin-top: 30px;
  margin-bottom: 22px;
  width: 100%;

  .search-input {
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 40px;
    line-height: 44px;
    outline: none;
    border: none;
    color: #0000004d;
    opacity: 30%;
    font-weight: normal;
    margin-bottom: 22px;
  }
}

.explore-recipes {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;

  .explore-recipes-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: $additional-1-600;
  }
}

.recipes-cats {
  display: flex;
  margin: 30px 0;

  .cat-item {
    width: 72px;
    padding: 15px;
    background: $secondary-600;
    border-radius: 30px;
    margin: 0 12px 10px 0;
  }

  .cat-item-primary-400 {
    background: $primary-400;
  }

  .cat-item-secondary-500 {
    background: $secondary-500;
  }

  .cat-item-additional-2-300 {
    background: $additional-2-300;
  }

  .cat-item-primary-200 {
    background: $primary-200;
  }

  .cat-item-additional-2-500 {
    background: $additional-2-500;
  }

  .cat-item-secondary-600 {
    background: $secondary-600;
  }

  .cat-item-additional-1-700 {
    background: $additional-1-700;
  }

  .cat-item-primary-200 {
    background: $primary-200;
  }
}
