#search-recipes {
  margin-top: 30px;
  margin-bottom: 22px;
  width: 100%;

  .search-recipes-holder {
    #search-input {
      text-transform: uppercase;
      font-size: 36px;
      margin-bottom: 40px;
      line-height: 44px;
      outline: none;
      border: none;
      opacity: 80%;
      color: #0000004d;
      font-weight: normal;
      margin-bottom: 22px;

      &:focus {
        opacity: 30%;
      }
    }

    #search-recipes-cards {
      display: flex;
      flex-wrap: wrap;
      @media screen and (max-width: 1580px) {
        justify-content: space-between;
      }
    }
  }
}
