@import './src/assets/scss/variables';

.recipe-card {
  margin: 22px 60px 22px 0;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  @media screen and (max-width: 1580px) {
    margin: 22px 0 22px 0;
  }

  .recipe-card-info {
    width: 60%;
    position: absolute;
    top: 60%;
    left: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    .recipe-card-cat {
      display: flex;
    }

    .recipe-card-cat-item {
      margin-right: 20px;
      padding: 10px;
      background: $secondary-600;
      border-radius: 30px;
      margin-bottom: 10px;
    }

    .recipe-card-name {
      font-size: 18px;
      line-height: 22px;
      color: $white;
    }
  }
}
