@import './src/assets/scss/variables';

#recipe-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  min-width: 423px;
  min-height: 780px;
  padding: 30px;
  border-radius: 30px;
  align-items: end;

  @media screen and (min-width: 992px) {
    margin-bottom: 50px;
  }

  .recipe-info {
    padding: 30px;
    align-self: center;
    height: 80%;
    width: 90%;
    border-radius: 30px;
    background-color: white;
    overflow: auto;

    .recipe-info-name {
      font-size: 24px;
      line-height: 29.26px;
      margin-bottom: 15px;
    }

    .recipe-description {
      font-size: 18px;
      color: rgba(0, 0, 0, 0.44);
      line-height: 21.94px;
      overflow: hidden;
    }

    .recipe-ingredients-holder {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .recipe-ingredients-title {
        font-size: 18px;
        line-height: 21.94px;
        color: rgba(0, 0, 0, 1);
      }
    }
  }

  @media screen and (min-width: 992px) {
    flex: 1;
    height: 780px;
  }
}
