@import './src/assets/scss/variables';

#sidebar {
  min-height: 100vh;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  order: -1;
  background: $secondary-300;
  padding: 60px 10px;
  transition-duration: 500ms;
  transform: translateX(-75%);

  .nav {
    display: flex;
    flex-direction: column;
  }
}
